@media (min-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .hero-title-1 {
    display: none;
  }
  .hero-title-2 {
    font-size: 28px;
  }
  .hero-text {
    font-size: 16px;
  }
  .navbar {
    display: none;
  }
  /* Product */
  .main-cash {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-cash img {
    width: 280px;
  }
  .main-flow span {
    width: 8px;
    height: 8px;
  }
  /* Product */
  .main-snapshot {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-snapshot img {
    width: 280px;
  }

  .main-snapshot h3 {
    font-size: 22px;
  }
  .main-snapshot p {
    font-size: 16px;
  }
  .main-flow h3 {
    font-size: 24px;
  }
  .main-flow p {
    font-size: 16px;
  }
  .main-flow span {
    width: 8px;
    height: 8px;
  }
  .main-features h2 {
    font-size: 28px;
  }
  /*  */
  .kpk {
    display: none;
  }
  .flow-main {
    padding-bottom: 100px;
  }
  .ways-main h2 {
    font-size: 28px;
    line-height: 30px;
    padding-top: 50px;
  }
  .main-create {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
  }
  .main-create img {
    width: 280px;
  }
  .main-create h3 {
    font-size: 24px;
  }
  .footer-botton {
    padding-top: 0;
  }
  .main-create p {
    font-size: 18px;
  }
  .main-making h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #011931;
  }
  .main-making p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #3384fb;
  }
  .for-main h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #001931;
  }
  .for-main p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  .main-title {
    font-size: 28px;
  }
  .main-img img {
    width: 280px;
  }
  .main-info-3 {
    order: 2;
  }
  .main-info-4 {
    order: 1;
  }
  .main-info-4 h2 {
    font-size: 28px;
  }
  .main-info-4 p {
    font-size: 16px;
  }
  .main-info-1 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-info-2 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    padding-bottom: 50px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
  .team h2 {
    font-size: 24px;
  }
  .team-title {
    font-size: 22px;
  }
  .team-text {
    font-size: 14px;
  }
  .card-info {
    padding: 20px 0;
  }
  .brend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .brend-logo img {
    width: 120px;
  }
  .trusted-brend h2 {
    font-size: 28px;
  }
  .get-info h3 {
    font-size: 22px;
    line-height: 24px;
    max-width: 263px;
  }
  .get-info p {
    padding-top: 25px;
    font-size: 16px;
    line-height: 22px;
  }
  .get-info a {
    border-radius: 8px;
    padding: 18px 46px;
  }
  .footer-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px 20px;
    gap: 20px;
  }
  .footer-img {
    padding-top: 60px;
    width: 74px;
  }
  /*  */
  .main-see-your {
    align-items: center;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 23px;
  }
  .main-see-your img {
    width: 280px;
  }
  .see-your-title h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #091832;
  }
  .see-your-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #091832;
  }
  .main-schedule {
    padding-top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 20px;
    padding-bottom: 50px;
  }
  .main-schedule img {
    width: 280px;
  }
  .main-schedule h3 {
    font-size: 32px;
    line-height: 35px;
  }
  .schedule-1 {
    order: 2;
  }
  .schedule-2 {
    order: 1;
  }
  .hero-title-2 {
    line-height: 40px;
  }
  /*  */
  .hero-title-5 {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.5em;
  }
  .hero-title-4 {
    font-size: 36px;
    line-height: 39px;
    max-width: 288px;
  }
  .operators {
    max-width: 296px;
    padding: 20px 0;
  }
  .operators-1 {
    padding: 15px 11px;
    font-size: 14px;
    line-height: 20px;
  }
  .operators-2 {
    padding: 15px 18px;
    font-size: 14px;
    line-height: 20px;
  }
  .main-operators {
    width: 295px;
    gap: 0px;
  }
  .main-card {
    gap: 50px;
    display: block;
  }
  .main-card-1 a {
    padding: 22px 47px;
  }
  .main-card-2 a {
    padding: 22px 32px;
  }
  /*  */
  .hero-card {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
  }
  .hero-card-box {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 50px;
    border-radius: 6px;
    align-items: center;
    padding: 10px 10px;
  }
  .hero-card-box span {
    padding-top: 10px;
  }
  .hero-card-box h5 {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
  }
  .hero-title-4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    padding-bottom: 78px;
  }
  .hero-title-5 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
  /*  */
  .prise-title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 30px;
  }

  .report-right img {
    width: 287px;
  }
  .report {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .prise-link {
    padding-bottom: 25px;
  }
  .report-left {
    order: 3;
  }
  #report-top {
    order: 1;
  }
  .report-right {
    order: 1;
  }
  .prise-ttitles {
    padding-bottom: 29px;
    font-size: 16px;
    line-height: 22px;
  }
  /*  */
  .current-left img {
    width: 287px;
  }
  .menbers-1 {
    order: 2;
  }
  .menbers-2 {
    order: 1;
  }
  .prises-titles {
    padding-top: 5px;
  }
  .funny {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .funny img {
    width: 287px;
  }
  .fund-1 {
    order: 2;
  }
  .fund-2 {
    order: 1;
  }
  .funny {
    gap: 50px;
  }
}
@media (min-width: 425px) {
  .container {
    padding: 0 20px;
    max-width: 760px;
    margin: 0 auto;
  }
  .hero-title-1 {
    display: none;
  }
  .hero-title-2 {
    font-size: 36px;
    max-width: 350px;
  }
  .hero-text {
    font-size: 18px;
  }
  .navbar {
    display: none;
  }

  /* Product */

  .main-cash {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-cash img {
    width: 385px;
  }
  .main-flow span {
    width: 8px;
    height: 8px;
  }
  .for-main h3 {
    padding-top: 10px;
  }
  .main-flow h3 {
    padding-top: 3px;
    font-size: 22px;
  }
  .main-create img {
    width: 385px;
  }
  .main-create {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 25px;
  }
  .footer-botton {
    padding-top: 50px;
  }
  .main-create p {
    font-size: 16px;
  }
  .main-create h3 {
    font-size: 21px;
    padding-bottom: 15px;
  }
  /* Product */
  .main-snapshot {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-snapshot img {
    width: 385px;
  }
  .main-features h2 {
    font-size: 32px;
  }
  .main-snapshot p {
    font-size: 14px;
  }
  /*  */
  .main-making h2 {
    font-size: 20px;
  }
  .main-img img {
    width: 375px;
  }
  .main-info-3 {
    order: 2;
  }
  .main-info-4 {
    order: 1;
  }
  .main-info-4 h2 {
    max-width: 300px;
    font-size: 28px;
  }
  .main-info-4 p {
    max-width: 300px;
    font-size: 16px;
  }
  .main-info-1 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-info-2 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    padding-bottom: 50px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
  .team h2 {
    font-size: 24px;
  }
  .team-title {
    font-size: 22px;
  }
  .team-text {
    font-size: 14px;
  }
  .card-info {
    padding: 20px 0;
  }
  .brend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .brend-logo img {
    width: 120px;
  }
  .trusted-brend h2 {
    font-size: 32px;
  }
  .get-info h3 {
    font-size: 22px;
    line-height: 24px;
    max-width: 263px;
  }
  .get-info p {
    padding-top: 25px;
    font-size: 16px;
    line-height: 22px;
  }
  .get-info a {
    border-radius: 8px;
    padding: 18px 46px;
  }
  .footer-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px 20px;
    gap: 20px;
  }
  .footer-img {
    padding-top: 60px;
    width: 74px;
  }
  /*  */
  .main-see-your {
    align-items: center;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 23px;
  }
  .main-see-your img {
    width: 380px;
  }
  .see-your-title h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #091832;
  }
  .see-your-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #091832;
  }
  .main-schedule {
    padding-top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 20px;
    padding-bottom: 50px;
  }
  .main-schedule img {
    width: 380px;
  }
  .main-schedule h3 {
    font-size: 36px;
    line-height: 35px;
  }
  .schedule-1 {
    order: 2;
  }
  .schedule-2 {
    order: 1;
  }
  .schedule-link {
    padding: 22px 130px;
  }
  /*  */
  .prise-title {
    font-size: 36px;
    line-height: 35px;
  }

  .report-right img {
    width: 390px;
  }
  .report {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  .report-left {
    order: 3;
  }
  #report-top {
    order: 1;
  }
  .report-right {
    order: 1;
  }
  .prise-ttitles {
    padding-bottom: 29px;
    font-size: 18px;
    line-height: 22px;
  }
  .hero-card {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
  }
  .hero-card-box {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px 10px;
  }
  .hero-card-box span {
    padding-top: 10px;
  }
  .hero-card-box h5 {
    font-size: 18px;
    line-height: 20px;
    padding-top: 5px;
  }
  .hero-title-4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    padding-bottom: 78px;
  }
  .hero-title-5 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  .current-left img {
    width: 390px;
  }
  .funny img {
    width: 390px;
  }
}
@media (min-width: 768px) {
  .hero-title-1 {
    display: none;
  }
  .hero-title-2 {
    font-size: 36px;
    max-width: 600px;
  }
  .hero-text {
    max-width: 400px;
    font-size: 18px;
  }
  .navbar {
    display: flex;
  }
  /* Product */
  .main-cash {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }

  .main-cash img {
    width: 400px;
  }
  .main-flow span {
    width: 8px;
    height: 8px;
  }
  #header-link {
    font-size: 20px;
  }
  /*  */
  .main-snapshot {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-img img {
    width: 735px;
  }
  .main-info-3 {
    order: 2;
  }
  .main-info-4 {
    order: 1;
  }
  .main-info-4 h2 {
    font-size: 42px;
    max-width: 650px;
  }
  .main-info-4 p {
    max-width: 600px;
    font-size: 18px;
  }
  .main-info-1 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-info-2 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    padding-bottom: 50px;
  }
  .main-title {
    padding-bottom: 10px;
    max-width: 750px;
  }
  .main-text {
    font-size: 18px;
    padding-top: 10px;
    line-height: 25px;
    max-width: 750px;
  }
  .main-create img {
    width: 385px;
  }
  .main-create {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 25px;
  }
  .main-create p {
    padding-top: 2px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .team h2 {
    font-size: 38px;
  }
  .team-title {
    font-size: 22px;
  }
  .team-text {
    font-size: 14px;
  }
  .card-info {
    padding: 20px 0;
  }
  .brend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .brend-logo img {
    width: 200px;
  }
  .trusted-brend h2 {
    font-size: 38px;
  }
  .get-info h3 {
    font-size: 32px;
    line-height: 44px;
    max-width: 663px;
  }
  .get-info p {
    padding-top: 25px;
    font-size: 18px;
    line-height: 22px;
  }
  .get-info a {
    border-radius: 8px;
    padding: 18px 46px;
  }
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 10px 20px;
    gap: 20px;
  }
  .footer-img {
    padding-top: 100px;
    width: 74px;
  }
  .footer-list-2 {
    padding-top: 100px;
  }
  .footer-icon {
    display: block;
  }
  .main-see-your {
    align-items: center;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 23px;
  }
  .main-see-your img {
    width: 380px;
  }
  .see-your-title h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #091832;
  }
  .see-your-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #091832;
  }
  .main-schedule {
    padding-top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 20px;
    padding-bottom: 50px;
  }
  .main-schedule img {
    width: 380px;
  }
  .main-schedule h3 {
    font-size: 36px;
    line-height: 35px;
  }
  .schedule-1 {
    order: 1;
  }
  .schedule-2 {
    order: 2;
  }
  .schedule-link {
    padding: 22px 68px;
  }
  .main-card {
    gap: 50px;
    display: flex;
  }
  .prise-title {
    font-size: 38px;
    line-height: 35px;
    justify-content: center;
  }

  .report-right img {
    width: 725px;
  }
  .report {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  .report-left {
    order: 3;
  }
  #report-top {
    order: 1;
  }
  .report-right {
    order: 1;
  }
  .prise-ttitles {
    padding-bottom: 29px;
    font-size: 18px;
    line-height: 22px;
    justify-content: center;
  }
  .prises-titles {
    font-size: 24px;
  }
  .future {
    max-width: 100%;
  }
  .hero-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }
  .hero-card-box {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px 10px;
  }
  .hero-card-box span {
    padding-top: 10px;
  }
  .hero-card-box h5 {
    font-size: 18px;
    line-height: 20px;
    padding-top: 5px;
  }
  .hero-title-4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 39px;
    padding-bottom: 78px;
    max-width: 100%;
  }
  .hero-title-5 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
  }
  .current-left img {
    width: 725px;
  }
  .funny img {
    width: 725px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 20px;
  }
  .hero-title-2 {
    font-size: 46px;
    max-width: 100%;
  }
  .hero-text {
    font-size: 18px;
  }
  /*  */

  .main-cash {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 100px;
  }
  .main-cash img {
    width: 470px;
  }
  .main-flow span {
    width: 8px;
    height: 8px;
  }
  /*  */
  .main-features h2 {
    font-size: 38px;
  }
  .main-snapshot {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
  }
  .main-snapshot img {
    width: 500px;
  }
  .main-create img {
    width: 500px;
  }
  .main-snapshot h3 {
    font-size: 32px;
  }
  .main-snapshot p {
    font-size: 20px;
  }
  .snapshot-title {
    max-width: 500px;
  }
  .for-main h3 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  .for-main p {
    font-size: 20px;
    max-width: 400px;
  }
  .main-making h2 {
    font-size: 38px;
    max-width: 900px;
    line-height: 50px;
  }
  .main-making p {
    padding-bottom: 100px;
    font-size: 18px;
  }
  /*  */
  .for-main h3 {
    padding-top: 80px;
  }
  .main-img img {
    width: 500px;
  }
  .main-info-3 {
    order: 1;
  }
  .main-info-4 {
    order: 2;
  }
  .main-info-4 h2 {
    font-size: 36px;
  }
  .main-info-4 p {
    font-size: 16px;
    max-width: 400px;
  }
  .main-info-1 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 120px;
  }
  .main-info-2 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 120px;
    padding-bottom: 50px;
  }
  .main-title {
    padding-bottom: 10px;
    max-width: 550px;
  }
  .main-text {
    font-size: 20px;
    padding-top: 10px;
    line-height: 25px;
    max-width: 450px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .team h2 {
    font-size: 32px;
  }
  .team-title {
    font-size: 22px;
  }
  .team-text {
    font-size: 14px;
  }
  .card-info {
    padding: 20px 0;
  }
  .brend {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
  }
  .brend-logo img {
    width: 200px;
  }
  .get-info h3 {
    font-size: 38px;
    line-height: 44px;
    max-width: 663px;
  }
  .get-info p {
    padding-top: 25px;
    font-size: 24px;
    line-height: 22px;
  }
  .get-info a {
    border-radius: 8px;
    padding: 18px 46px;
  }
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 10px 20px;
    gap: 100px;
  }
  .footer-img {
    padding-top: 100px;
    width: 74px;
  }
  .footer-list-2 {
    padding-top: 100px;
  }
  .footer-icon {
    display: flex;
  }
  .footer-list {
    padding: 0 150px;
  }
  /*  */
  .main-see-your {
    align-items: center;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 23px;
  }
  .main-see-your img {
    width: 500px;
  }
  .see-your-title h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #091832;
  }
  .see-your-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #091832;
  }
  .main-schedule {
    padding-top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 20px;
    padding-bottom: 50px;
  }
  .main-schedule img {
    width: 500px;
  }
  .main-schedule h3 {
    font-size: 36px;
    line-height: 35px;
  }
  .schedule-1 {
    order: 1;
  }
  .schedule-2 {
    order: 2;
  }
  .main-schedule p {
    max-width: 400px;
  }
  .schedule-link {
    padding: 22px 68px;
  }
  .operators {
    padding-top: 67px;
  }
  .main-operators {
    gap: 31px;
    justify-content: center;
    background: #edf2f7;
    border-radius: 16px;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
  }
  .operators-1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #3384fb;
    padding: 38px 160px;
    background: #ffffff;
    box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.161);
    border-radius: 13px;
  }
  .operators-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #091832;
    padding: 38px 10px;
  }
  .prise-title {
    font-size: 38px;
    line-height: 35px;
  }

  .report-right img {
    width: 500px;
  }
  .report {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .report-top {
    order: 1;
  }
  .report-btn {
    gap: 20px;
    display: flex;
    order: 2;
  }
  .prise-ttitles {
    padding-bottom: 29px;
    font-size: 18px;
    line-height: 22px;
  }
  .prises-titles {
    padding-top: 0px;
    font-size: 24px;
  }
  .future {
    padding-top: 10px;
    max-width: 100%;
  }
  .hero-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }
  .hero-card-box {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px 10px;
  }
  .hero-card-box span {
    padding-top: 10px;
  }
  .hero-card-box h5 {
    font-size: 18px;
    line-height: 20px;
    padding-top: 5px;
  }
  .hero-title-4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 39px;
    padding-bottom: 78px;
    max-width: 100%;
  }
  .hero-title-5 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 20;
  }
  .main-features {
    padding-bottom: 300px;
  }
  .kpk {
    display: flex;
    left: 70px;
  }
  .ways-main {
    padding-bottom: 100px;
  }
  .ways-main h2 {
    font-size: 38px;
  }
  .ways-main p {
    font-size: 24px;
  }
  .main-create h3 {
    font-size: 32px;
    max-width: 600px;
  }
  .main-create img {
    width: 680px;
  }
  .main-create p {
    padding-top: 20px;
    font-size: 20px;
    max-width: 500px;
  }
  .main-flow h3 {
    font-size: 28px;
  }
  .main-img img {
    width: 700px;
  }
  .main-snapshot img {
    width: 700px;
  }
  .main-info-4 p {
    padding-top: 38px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  .main-text {
    max-width: 450px;
    padding-top: 38px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  /*  */
  .main-cash {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 100px;
  }
  .main-cash img {
    width: 770px;
  }
  .cash-main img {
    width: 600px;
  }
  .snapshot-title {
    max-width: 420px;
  }
  .main-see-your {
    align-items: center;
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 90px;
  }
  .main-see-your img {
    width: 700px;
  }
  .see-your-title h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #091832;
  }
  .see-your-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #091832;
  }
  .main-schedule {
    padding-top: 120px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 90px;
    padding-bottom: 50px;
  }
  .main-schedule img {
    width: 700px;
  }
  .main-schedule h3 {
    font-size: 40px;
    line-height: 35px;
  }
  .schedule-1 {
    order: 1;
  }
  .schedule-2 {
    order: 2;
  }
  .main-schedule p {
    max-width: 400px;
  }
  .schedule-link {
    padding: 22px 68px;
  }
  .hero-card {
    padding-top: 116px;
    display: grid;
    grid-template-columns: repeat(1, 8fr);
    grid-template-rows: repeat(1, 2fr);
    gap: 10px;
  }
  .prise-title {
    font-size: 38px;
    line-height: 35px;
  }

  .report-right img {
    width: 700px;
  }
  .report {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 100px;
  }
  .popular {
    order: 1;
  }
  #report-right {
    order: 2;
  }
  .prise-ttitles {
    padding-bottom: 29px;
    font-size: 18px;
    line-height: 22px;
  }
  .prises-titles {
    padding-top: 0px;
    font-size: 24px;
  }
  .future {
    padding-top: 30px;
    max-width: 600px;
  }
  .hero-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .hero-card-box {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px 10px;
  }
  .hero-card-box span {
    padding-top: 10px;
  }
  .hero-card-box h5 {
    font-size: 18px;
    line-height: 20px;
    padding-top: 5px;
  }
  .hero-title-4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 39px;
    padding-bottom: 78px;
    max-width: 100%;
  }
  .hero-title-5 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
  }
  .menbers-1 {
    order: 1;
  }
  .menbers-2 {
    order: 2;
  }
  .menbers-2 img {
    width: 550px;
  }
  .menbers-3 {
    gap: 50px;
  }
  .funny {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fund-1 {
    order: 2;
  }
  .fund-2 {
    order: 1;
  }
}
